/*
	Người Viết	:	Huỳnh Thị Ngoc Mai
	Ngày Viết	:	24/05/2011
	Mục Đích	:	STORE INSERT NHAN_XET_KET_QUA_THU_VIEC
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_InsertNhanXetKetQuaThuViec')
BEGIN
	DROP PROC sp_NhanSu_InsertNhanXetKetQuaThuViec
END
GO
CREATE PROC sp_NhanSu_InsertNhanXetKetQuaThuViec  
	@Nguoi_nhan_xet		VARCHAR(5),
	@Thoi_gian_thu_viec	FLOAT,
	@KQ					INT OUTPUT
AS
BEGIN  
	SET @KQ = -1
	IF NOT EXISTS (SELECT * FROM NhanXetKetQuaThuViec WHERE Nguoi_nhan_xet=@Nguoi_nhan_xet)   
	BEGIN  
		INSERT INTO NhanXetKetQuaThuViec(Nguoi_nhan_xet,Thoi_gian_thu_viec,Tinh_trang,Ngay_cap_nhat_cuoi) VALUES(@Nguoi_nhan_xet,@Thoi_gian_thu_viec,'0',GETDATE())
		SELECT @KQ=MAX(ID) FROM NhanXetKetQuaThuViec
	END  
END  
GO
/*

DECLARE @KQ INT 
EXEC sp_NhanSu_InsertNhanXetKetQuaThuViec '0','6',@KQ OUTPUT
SELECT @KQ

SELECT * FROM NhanXetKetQuaThuViec
*/
