/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	26/05/2011
	Mục Đích	:	Từ Chối Hợp Đồng Lần Đầu
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_UpdateHDLD_Reject')
BEGIN
	DROP PROC sp_NhanSu_UpdateHDLD_Reject
END
GO
CREATE PROC sp_NhanSu_UpdateHDLD_Reject  
	@ID					INT,
	@Ly_do_reject		NVARCHAR(500),
	@KQ					INT OUTPUT
AS  
BEGIN  
	SET @KQ = -1  
	IF EXISTS (SELECT * FROM HopDongLaoDong WHERE ID=@ID)   
	BEGIN  
		UPDATE HopDongLaoDong SET Ly_do_reject=@Ly_do_reject,Tinh_trang='4',Ngay_NDT_duyet=null,Hieu_truong=null,Ngay_HT_duyet=null,Ngay_cap_nhat_cuoi=getdate() WHERE ID=@ID
		SET @KQ = @ID
	END  
END
GO

/*
SELECT * FROM HOPDONGLAODONG
DECLARE @KQ INT 
EXEC sp_InsertDeNghiKTV 0,3,1,'1/1/1991','1/1/1991','1',@KQ OUTPUT
SELECT @KQ

SELECT * FROM DeNghiNhanSu

SELECT * FROM DeNghiKTV

*/
