/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	26/05/2011
	Mục Đích	:	Cập Nhật Hợp Đồng Lần Đầu
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_UpdateHDLD')
BEGIN
	DROP PROC sp_NhanSu_UpdateHDLD
END
GO
CREATE PROC sp_NhanSu_UpdateHDLD  
	@ID						INT,
	@Thoi_gian				FLOAT,
	@Bat_dau				DATETIME,
	@Ket_thuc				DATETIME,
	@Loai_vien_chuc			VARCHAR(10),
	@Ma_ngach				VARCHAR(20),
	@Bac					INT,
	@He_so_luong			FLOAT,
	@Tinh_trang				INT,
	@KQ						INT OUTPUT  
AS  
BEGIN  
	SET @KQ = -1 
	IF EXISTS (SELECT * FROM HopDongLaoDong WHERE ID=@ID)   
	BEGIN  
		UPDATE HopDongLaoDong SET Thoi_gian=@Thoi_gian, Bat_dau=@Bat_dau, Ket_thuc=@Ket_thuc, Loai_vien_chuc=@Loai_vien_chuc, Ma_ngach=@Ma_ngach, Bac=@Bac, He_so_luong=@He_so_luong,Tinh_trang=@Tinh_trang, Ngay_cap_nhat_cuoi=GETDATE() WHERE ID=@ID
		SET @KQ = @ID
	END  
END  
GO
/*
SELECT * FROM HOPDONGLAODONG

DECLARE @KQ INT 
EXEC sp_InsertDeNghiKTV 0,3,1,'1/1/1991','1/1/1991','1',@KQ OUTPUT
SELECT @KQ

SELECT * FROM DeNghiNhanSu

SELECT * FROM DeNghiKTV

*/
