/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	25/05/2011
	Mục Đích	:	Thời Gian Tuyển Dụng Nhân Sự
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_InsertThoiGianTuyenDung')
BEGIN
	DROP PROC sp_NhanSu_InsertThoiGianTuyenDung
END
GO
CREATE PROC sp_NhanSu_InsertThoiGianTuyenDung  
	@Ma_CTKHTDNS				INT,
	@Thoi_gian					VARCHAR(15),
	@KQ							INT OUTPUT  
AS  
BEGIN  
	
	SET @KQ = -1
	IF EXISTS (SELECT * FROM ChiTietKHTNS WHERE ID=@Ma_CTKHTDNS)
	BEGIN
		DECLARE @Tinh_trang INT
		SET @Tinh_trang = (SELECT Tinh_trang FROM KeHoachTNS WHERE ID=(SELECT Ma_ke_hoach FROM ChiTietKHTNS WHERE ID=@Ma_CTKHTDNS))
		IF(@Tinh_trang = 0)
		BEGIN
			INSERT INTO ThoiGianTuyenDung(Ma_CTKHTDNS,Thoi_gian,Ngay_cap_nhat_cuoi,User1,User2,User3,User4,User5) VALUES(@Ma_CTKHTDNS,@Thoi_gian,GETDATE(),'','','','','')
			SET @KQ = 1
		END
	END
END  
GO
/*

DECLARE @KQ INT 
EXEC sp_InsertThoiGianTuyenDung '14','2',@KQ OUTPUT
SELECT @KQ

SELECT * FROM DeNghiNhanSu
SELECT * FROM HinhThuc_DT
SELECT * FROM DeNghiDTNS
SELECT * FROM THOIGIANTUYENDUNG
SELECT * FROM CHITIETKHTNS
*/
