
/*
		Nguoi Viet: AMIN
 		Ngay viet:	20/07/2011
		Muc dich:   SEARCH Sinh Vien6
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='SP_QLSV_TIMKIEM_SINHVIEN')
BEGIN
	DROP PROC SP_QLSV_TIMKIEM_SINHVIEN
END
GO
CREATE PROC SP_QLSV_TIMKIEM_SINHVIEN
	@HO				NVARCHAR(200),
	@TEN_LOT		NVARCHAR(200),
	@TEN			NVARCHAR(200),
	@SO_NHA			NVARCHAR(50),
	@DUONG			NVARCHAR(200),
	@PHUONG_XA		NVARCHAR(200),
	@QUAN_HUYEN		NVARCHAR(200),
	@TINH_TP		NVARCHAR(200),
	@NGAYSINH		VARCHAR(10),
	@EMAIL			VARCHAR(60),
	@BOPHAN			VARCHAR(10),
	@MALOPHOC		VARCHAR(10)
AS
BEGIN
DECLARE @DIEUKIENHOTEN			NVARCHAR(300)
DECLARE @DIEUKIENDIACHI			NVARCHAR(300)
DECLARE @DIEUKIENNGAYSINH		VARCHAR(100)
DECLARE @DIEUKIENEMAIL			VARCHAR(100)
DECLARE @DIEUKIENBOPHAN			VARCHAR(100)
DECLARE @DIEUKIENLOPHOC			VARCHAR(100)

SET @DIEUKIENHOTEN=''
SET @DIEUKIENDIACHI=''
SET @DIEUKIENNGAYSINH=''
SET @DIEUKIENEMAIL=''
SET @DIEUKIENBOPHAN=''
SET @DIEUKIENLOPHOC=''

IF @HO <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN=' AND D.HO LIKE N''%'+ @HO +'%'' '
	END  
IF @TEN_LOT <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN = @DIEUKIENHOTEN + ' AND D.TEN_LOT LIKE N''%'+ @TEN_LOT +'%'' '
	END
IF @TEN <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN = @DIEUKIENHOTEN + ' AND D.TEN LIKE N''%'+ @TEN +'%'' '
	END
IF @SO_NHA <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.SO_NHA LIKE N''%'+ @SO_NHA +'%'' '
	END 
IF @DUONG <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.DUONG LIKE N''%'+ @DUONG +'%'' '
	END 
IF @PHUONG_XA <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.PHUONG_XA LIKE N''%'+ @PHUONG_XA +'%'' '
	END 
IF @QUAN_HUYEN <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.QUAN_HUYEN LIKE N''%'+ @QUAN_HUYEN +'%'' '
	END 
IF @TINH_TP <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.TINH_THANHPHO LIKE N''%'+ @TINH_TP +'%'' '
	END 
IF @NGAYSINH <> ''  
	BEGIN  
		SET @DIEUKIENNGAYSINH=' AND convert(VARCHAR(10),D.NGAY_SINH,105) LIKE ''%' + @NGAYSINH + '%'' '
	END 
IF @EMAIL <> ''  
	BEGIN  
		SET @DIEUKIENEMAIL=' AND D.EMAIL LIKE ''%'+ @EMAIL +'%'' '
	END 
IF @BOPHAN <> ''  
	BEGIN  
		IF @BOPHAN = 'all'
		BEGIN
			SET @DIEUKIENBOPHAN=''
		END
		ELSE
		BEGIN
			SET @DIEUKIENBOPHAN=' AND C.ID='+@BOPHAN
		END
	END 
IF @MALOPHOC <> ''
	BEGIN
		SET @DIEUKIENLOPHOC=' AND D.Ma_lop_hoc='+@MALOPHOC
	END


DECLARE @sql NVARCHAR(2000)

SET @sql = '
SELECT A.ID,(D.HO +'' ''+ D.TEN_LOT +'' ''+ D.TEN) AS HOTEN, 
(E.SO_NHA +'' ''+ E.DUONG +'' ''+ E.PHUONG_XA +'' ''+ E.QUAN_HUYEN +'' ''+ E.TINH_THANHPHO) AS DIACHI,
convert(VARCHAR(10),D.NGAY_SINH,105) AS NGAYSINH,
D.EMAIL,C.TEN AS BOPHAN,B.TEN_VAI_TRO AS VAITRO
FROM ThanhVien A LEFT JOIN VAITRO B ON A.MA_VAI_TRO=B.ID 
LEFT JOIN KHOA_TRUNGTAM C ON A.MA_BO_PHAN=C.ID
LEFT JOIN CHITIETTHANHVIEN D ON A.TEN_DN=D.TEN_DANG_NHAP 
LEFT JOIN DIACHI E ON D.MA_DIA_CHI=E.ID
WHERE B.ID=9 '
+ @DIEUKIENHOTEN			
+ @DIEUKIENDIACHI			
+ @DIEUKIENNGAYSINH				
+ @DIEUKIENEMAIL			
+ @DIEUKIENBOPHAN								
+ ' ORDER BY A.ID ASC'


	PRINT @SQL
	EXEC sp_executesql @sql
END
GO



 
