/*
SELECT A.NGAY_HOC, B.MA_THANH_VIEN,A.GIO_BAT_DAU,A.GIO_KET_THUC,A.TINH_TRANG, A.Buoi
FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
WHERE C.MA_GIAO_VIEN='0' AND CONVERT(VARCHAR(10),A.NGAY_HOC,105)='06-02-2012'

sp_Restart_HoTroDiemDanh '0','06-02-2012','2'

30-01-2012
06-02-2012
*/
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE NAME='sp_Restart_HoTroDiemDanh')
BEGIN
	DROP PROC sp_Restart_HoTroDiemDanh
END
GO
CREATE PROC sp_Restart_HoTroDiemDanh
@MA_GIAO_VIEN INT,
@NGAY_HOC VARCHAR(10),
@Buoi_IN INT
AS
BEGIN
	DECLARE @DK_Buoi NVARCHAR(100)
	DECLARE @MaChiTietDiemDanh INT
	SET @DK_Buoi = ''
	IF @Buoi_IN = 1
	BEGIN
		SET @DK_Buoi = N'Sáng'
	END
		
	IF @Buoi_IN = 2
	BEGIN
		SET @DK_Buoi = N'Chiều'
	END	
	DECLARE @C CURSOR
	
	IF @DK_Buoi <> ''
	BEGIN
		SET @C = CURSOR FOR
		SELECT A.ID
		FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
		INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
		WHERE CONVERT(VARCHAR(10),A.NGAY_HOC,105)=@NGAY_HOC AND C.MA_GIAO_VIEN=@MA_GIAO_VIEN AND A.Buoi=@DK_Buoi
	END
	ELSE
	BEGIN
		SET @C = CURSOR FOR
		SELECT A.ID
		FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
		INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
		WHERE CONVERT(VARCHAR(10),A.NGAY_HOC,105)=@NGAY_HOC AND C.MA_GIAO_VIEN=@MA_GIAO_VIEN
	END
	
	
	OPEN @C
	FETCH NEXT FROM @C INTO @MaChiTietDiemDanh
	WHILE @@FETCH_STATUS = 0
	BEGIN
		UPDATE CHITIETDIEMDANH SET Tinh_trang=0, Gio_bat_dau=0, Gio_ket_thuc=0,Ngay_cap_nhat_cuoi=0 WHERE ID=@MaChiTietDiemDanh
		FETCH NEXT FROM @C INTO @MaChiTietDiemDanh
	END

	CLOSE @C
	DEALLOCATE @C	
	SELECT A.NGAY_HOC, B.MA_THANH_VIEN,A.GIO_BAT_DAU,A.GIO_KET_THUC,A.TINH_TRANG
	FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
	INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
	WHERE C.MA_GIAO_VIEN=@MA_GIAO_VIEN AND CONVERT(VARCHAR(10),A.NGAY_HOC,105)=@NGAY_HOC
END


