
/*
		Nguoi Viet: AMIN
 		Ngay viet:	27/06/2011
		Muc dich:   Danh Sách Nhân Sự Phân Trang
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_getAllNhanSu')
BEGIN
	DROP PROC sp_NhanSu_getAllNhanSu
END
GO
CREATE PROC sp_NhanSu_getAllNhanSu
	@NUMROWS		INT,
	@NUMPAGES		INT
AS
BEGIN
DECLARE @sql NVARCHAR(2000)
	SET @sql = '
	SELECT * FROM (SELECT TOP '+CAST(@NUMROWS AS VARCHAR)+' * FROM ( SELECT TOP ' + CAST(@NUMPAGES AS VARCHAR)+ ' A.ID,(D.HO +'' ''+ D.TEN_LOT +'' ''+ D.TEN) AS HOTEN, 
	(E.SO_NHA +'' ''+ E.DUONG +'' ''+ E.PHUONG_XA +'' ''+ E.QUAN_HUYEN +'' ''+ E.TINH_THANHPHO) AS DIACHI,
	convert(VARCHAR(10),D.NGAY_SINH,105) AS NGAYSINH,
	convert(VARCHAR(10),D.NGAY_BAT_DAU,105) AS NGAYVAOLAM,	
	D.EMAIL,C.TEN AS BOPHAN,B.TEN_VAI_TRO AS VAITRO,F.LOAI_BANG AS BANGCAP
	FROM ThanhVien A LEFT JOIN VAITRO B ON A.MA_VAI_TRO=B.ID 
	LEFT JOIN KHOA_TRUNGTAM C ON A.MA_BO_PHAN=C.ID
	LEFT JOIN CHITIETTHANHVIEN D ON A.TEN_DN=D.TEN_DANG_NHAP 
	LEFT JOIN DIACHI E ON D.MA_DIA_CHI=E.ID 
	LEFT JOIN BANGCAP F ON D.MA_BANG_CAP=F.ID
	ORDER BY A.ID DESC) AS TB1 ORDER BY ID ASC) AS TB2 ORDER BY ID ASC'
	EXEC sp_executesql @sql
END
GO
/*
	 EXEC sp_NhanSu_getAllNhanSu '20','244'
*/






 
