
/*
		Nguoi Viet: AMIN
 		Ngay viet:	30/5/2011
		Muc dich:   SEARCH NHAN SU
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_TimKiemNhanSu')
BEGIN
	DROP PROC sp_NhanSu_TimKiemNhanSu
END
GO
CREATE PROC sp_NhanSu_TimKiemNhanSu
	@HO				NVARCHAR(200),
	@TEN_LOT		NVARCHAR(200),
	@TEN			NVARCHAR(200),
	@SO_NHA			NVARCHAR(50),
	@DUONG			NVARCHAR(200),
	@PHUONG_XA		NVARCHAR(200),
	@QUAN_HUYEN		NVARCHAR(200),
	@TINH_TP		NVARCHAR(200),
	@NGAYSINH		VARCHAR(10),
	@NGAYVAOLAM		VARCHAR(10),
	@EMAIL			VARCHAR(10),
	@BOPHAN			VARCHAR(10),
	@VAITRO			VARCHAR(10),
	@BANGCAP		NVARCHAR(50)
AS
BEGIN
DECLARE @DIEUKIENHOTEN			NVARCHAR(300)
DECLARE @DIEUKIENDIACHI			NVARCHAR(300)
DECLARE @DIEUKIENNGAYSINH		VARCHAR(100)
DECLARE @DIEUKIENNGAYVAOLAM		VARCHAR(100)
DECLARE @DIEUKIENEMAIL			VARCHAR(100)
DECLARE @DIEUKIENBOPHAN			VARCHAR(100)
DECLARE @DIEUKIENVAITRO			VARCHAR(100)
DECLARE @DIEUKIENBANGCAP		NVARCHAR(300)

SET @DIEUKIENHOTEN=''
SET @DIEUKIENDIACHI=''
SET @DIEUKIENNGAYSINH=''
SET @DIEUKIENNGAYVAOLAM=''
SET @DIEUKIENEMAIL=''
SET @DIEUKIENBOPHAN=''
SET @DIEUKIENVAITRO=''
SET @DIEUKIENBANGCAP=''

IF @HO <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN=' AND D.HO LIKE N''%'+ @HO +'%'' '
	END  
IF @TEN_LOT <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN = @DIEUKIENHOTEN + ' AND D.TEN_LOT LIKE N''%'+ @TEN_LOT +'%'' '
	END
IF @TEN <> ''  
	BEGIN  
		SET @DIEUKIENHOTEN = @DIEUKIENHOTEN + ' AND D.TEN LIKE N''%'+ @TEN +'%'' '
	END
IF @SO_NHA <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.SO_NHA LIKE N''%'+ @SO_NHA +'%'' '
	END 
IF @DUONG <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.DUONG LIKE N''%'+ @DUONG +'%'' '
	END 
IF @PHUONG_XA <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.PHUONG_XA LIKE N''%'+ @PHUONG_XA +'%'' '
	END 
IF @QUAN_HUYEN <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.QUAN_HUYEN LIKE N''%'+ @QUAN_HUYEN +'%'' '
	END 
IF @TINH_TP <> ''  
	BEGIN  
		SET @DIEUKIENDIACHI = @DIEUKIENDIACHI + ' AND E.TINH_THANHPHO LIKE N''%'+ @TINH_TP +'%'' '
	END 
IF @NGAYSINH <> ''  
	BEGIN  
		SET @DIEUKIENNGAYSINH=' AND convert(VARCHAR(10),D.NGAY_SINH,105) LIKE ''%' + @NGAYSINH + '%'' '
	END 
IF @NGAYVAOLAM <> ''  
	BEGIN  
		SET @DIEUKIENNGAYVAOLAM=' AND convert(VARCHAR(10),D.NGAY_BAT_DAU,105) LIKE ''%' + @NGAYVAOLAM +'%'' '
	END 
IF @EMAIL <> ''  
	BEGIN  
		SET @DIEUKIENEMAIL=' AND D.EMAIL LIKE ''%'+ @EMAIL +'%'' '
	END 
IF @BOPHAN <> ''  
	BEGIN  
		IF @BOPHAN = 'all'
		BEGIN
			SET @DIEUKIENBOPHAN=''
		END
		ELSE
		BEGIN
			SET @DIEUKIENBOPHAN=' AND C.ID='+@BOPHAN
		END
	END 
IF @VAITRO <> ''  
	BEGIN  
		IF @VAITRO = 'all'
		BEGIN
			SET @DIEUKIENVAITRO=''
		END
		ELSE
		BEGIN
			SET @DIEUKIENVAITRO=' AND B.ID='+@VAITRO
		END
	END 
IF @BANGCAP <> ''  
	BEGIN  
		SET @DIEUKIENBANGCAP=' AND F.LOAI_BANG LIKE N''%'+@BANGCAP +'%'' '
	END 

DECLARE @sql NVARCHAR(2000)

SET @sql = '
SELECT A.ID,(D.HO +'' ''+ D.TEN_LOT +'' ''+ D.TEN) AS HOTEN, 
(E.SO_NHA +'' ''+ E.DUONG +'' ''+ E.PHUONG_XA +'' ''+ E.QUAN_HUYEN +'' ''+ E.TINH_THANHPHO) AS DIACHI,
convert(VARCHAR(10),D.NGAY_SINH,105) AS NGAYSINH,
convert(VARCHAR(10),D.NGAY_BAT_DAU,105) AS NGAYVAOLAM,	
D.EMAIL,C.TEN AS BOPHAN,B.TEN_VAI_TRO AS VAITRO,F.LOAI_BANG AS BANGCAP
FROM ThanhVien A LEFT JOIN VAITRO B ON A.MA_VAI_TRO=B.ID 
LEFT JOIN KHOA_TRUNGTAM C ON A.MA_BO_PHAN=C.ID
LEFT JOIN CHITIETTHANHVIEN D ON A.TEN_DN=D.TEN_DANG_NHAP 
LEFT JOIN DIACHI E ON D.MA_DIA_CHI=E.ID 
LEFT JOIN BANGCAP F ON D.MA_BANG_CAP=F.ID
WHERE 1=1 '
+ @DIEUKIENHOTEN			
+ @DIEUKIENDIACHI			
+ @DIEUKIENNGAYSINH		
+ @DIEUKIENNGAYVAOLAM		
+ @DIEUKIENEMAIL			
+ @DIEUKIENBOPHAN			
+ @DIEUKIENVAITRO			
+ @DIEUKIENBANGCAP		
+ ' ORDER BY A.ID ASC'


	PRINT @SQL
	EXEC sp_executesql @sql
END
GO



 
