/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	18/06/2011
	Mục Đích	:	show Nhận Xét Kết Quả Thử Việc
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_SelectAllNhanXetKetQuaThuViec')
BEGIN
	DROP PROC sp_NhanSu_SelectAllNhanXetKetQuaThuViec
END
GO
CREATE PROC sp_NhanSu_SelectAllNhanXetKetQuaThuViec
	@Ma_bo_phan			VARCHAR(5),
	@Ma_vai_tro			VARCHAR(5),
	@Tinh_trang			VARCHAR(5)
AS  
BEGIN
	IF(@Ma_bo_phan = '1' or @Ma_bo_phan = '2' or @Ma_bo_phan = '16' or @Ma_bo_phan = '0')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
			FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
			LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
			LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
			LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
			LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
			LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
			WHERE A.Tinh_trang > '0'
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM(
			SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
			FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
			LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
			LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
			LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
			LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
			LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
			WHERE A.Tinh_trang > '0') AS TB1 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
	ELSE
	BEGIN
		IF(@Ma_vai_tro = '5')
		BEGIN
			IF(@Tinh_trang = '')
			BEGIN
				SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
				FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
				LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
				LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
				LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
				LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
				LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
				WHERE D.MA_BO_PHAN=@Ma_bo_phan
				ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
			END
			IF(@Tinh_trang <> '')
			BEGIN
				SELECT * FROM(
				SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
				FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
				LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
				LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
				LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
				LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
				LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
				WHERE D.MA_BO_PHAN=@Ma_bo_phan) AS TB1 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
			END
		END
		ELSE
		BEGIN
			IF(@Tinh_trang = '')
			BEGIN
				SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
				FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
				LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
				LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
				LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
				LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
				LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
				WHERE A.Tinh_trang > '0' AND D.MA_BO_PHAN=@Ma_bo_phan
				ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
			END
			IF(@Tinh_trang <> '')
			BEGIN
				SELECT * FROM(
				SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_NHAN_XET,105) AS NGAY_NHAN_XET_MDY,(B.HO+' '+B.TEN_LOT+' '+B.TEN ) AS TEN_NGUOI_NHAN_XET,B.EMAIL AS EMAIL,(K.HO+' '+K.TEN_LOT+' '+K.TEN) AS TEN_NGUOI_DUYET,E.TEN_VAI_TRO AS TEN_VAI_TRO,F.MA_TRUONG_KHOA as MA_TRUONG_KHOA,F.TEN AS TEN_BO_PHAN
				FROM NHANXETKETQUATHUVIEC A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_NHAN_XET=B.ID
				LEFT JOIN CHITIETKHTNS C ON B.Vi_tri_du_tuyen=C.ID
				LEFT JOIN DENGHINHANSU D ON C.Ma_de_nghi=D.ID
				LEFT JOIN VAITRO E ON D.Chuc_danh=E.ID
				LEFT JOIN KHOA_TRUNGTAM F ON D.Ma_bo_phan=F.ID
				LEFT JOIN THANHVIEN J ON A.NGUOI_DUYET=J.ID LEFT JOIN CHITIETTHANHVIEN K ON J.TEN_DN=K.TEN_DANG_NHAP
				WHERE A.Tinh_trang > '0' AND D.MA_BO_PHAN=@Ma_bo_phan) AS TB1 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
			END
		END
		
	END
END
GO
