/*
Tác giả: La Quốc Chương
Ngày: 24-09-2011
Mô tả: thêm vào hungvuongsystem 1 module mới là QuanLySinhVien
*/
--------- Tạo App
INSERT INTO sys_App VALUES(N'Quản Lý Sinh Viên','/HungVuongISO/QuanLySinhVien/Intro.jsp','images/icon/quanlynhansu.png',getdate(),'','','','','')

--	SELECT * FROM sys_Role_App
--	SELECT * FROM VaiTro
--  Phân Quyền App
INSERT INTO sys_Role_App VALUES('0','7','','','','','')
INSERT INTO sys_Role_App VALUES('1','7','','','','','')
INSERT INTO sys_Role_App VALUES('2','7','','','','','')


--	SELECT * FROM sys_Menu
-------- Tạo Menu
--45
INSERT INTO sys_Menu VALUES('7',N'Home','images/icon_menu/home.png','/HungVuongISO/home.jsp','','','','','')
--46
INSERT INTO sys_Menu VALUES('7',N'Tìm Kiếm Sinh Viên','images/icon_menu/report.png','/HungVuongISO/QuanLySinhVien/TimKiemSinhVien.jsp','','','','','')
--47
INSERT INTO sys_Menu VALUES('7',N'Thông Tin Cá Nhân','images/icon_menu/report.png','/HungVuongISO/QuanLySinhVien/ThongTinCaNhan.jsp','','','','','')
--48
--	SELECT * FROM sys_Role_Menu
--	SELECT * FROM VaiTro

----------- Phân Quyền Menu
-- 16	Admin
INSERT INTO sys_Role_Menu VALUES('16','45','','','','','')
INSERT INTO sys_Role_Menu VALUES('16','46','','','','','')
INSERT INTO sys_Role_Menu VALUES('16','47','','','','','')

-- 0	Ban Giam Hieu

-- 1	Dao tao -- xem

-- 2	Phong Hanh Chanh 

-- 4	Phòng đảm bảo chất lượng

-- 6	Công nghệ thông tin

-- 7	Dien tu

-- 8	Ky That lanh

-- 9	Co khi dong luc

-- 10	co khi chinh xac

-- 11	lai xe

-- 12	TT Aptech

-- 13	Trung tam co dien tu

-- 14	TT Cat May

-- 15	ke toan
