--Input
--Mã Giáo Viên
--Ngày Học (tháng-ngày-năm) exam : 09-23-2011 
--Lưu ý : phải có số 0 phía trước tháng và ngày nhỏ hơn 10
--******************************************************
--Lấy max của gio_bat_dau,gio_ket_thuc + random() 
--để gán vào người chưa đi học, đồng thời update tinh_trang=4
/* demo xem trước khi chạy store
SELECT A.NGAY_HOC, B.MA_THANH_VIEN,A.GIO_BAT_DAU,A.GIO_KET_THUC,A.TINH_TRANG
FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
WHERE C.MA_GIAO_VIEN='0' AND CONVERT(VARCHAR(10),A.NGAY_HOC,110)='09-21-2011' AND A.TINH_TRANG=4
*/
--sp_HoTroDiemDanh '0','09-23-2011'
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE NAME='sp_HoTroDiemDanh')
BEGIN
	DROP PROC sp_HoTroDiemDanh
END
GO
CREATE PROC sp_HoTroDiemDanh
@MA_GIAO_VIEN INT,
@NGAY_HOC VARCHAR(10),
@Buoi_IN INT
AS
BEGIN
	DECLARE @MaChiTietDiemDanh INT,@MaThanhVien INT,@MaMonHoc INT,
			@TinhTrang INT,@Count INT,
			@BEGIN DATETIME,@END DATETIME,@BEGIN_DEFAULT DATETIME,@END_DEFAULT DATETIME, @Buoi NVARCHAR(20)
	DECLARE @C CURSOR
	IF @Buoi_IN = 0
	BEGIN
		SET @C = CURSOR FOR
		SELECT MAX(A.GIO_BAT_DAU),MAX(A.GIO_KET_THUC),C.MA_MON_HOC,A.Buoi
		FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
		INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
		WHERE C.MA_GIAO_VIEN=@MA_GIAO_VIEN AND CONVERT(VARCHAR(10),A.NGAY_HOC,110)=@NGAY_HOC
		GROUP BY C.MA_MON_HOC,A.Buoi
	END
	ELSE
	BEGIN
		DECLARE @DK_Buoi NVARCHAR(100)
		SET @DK_Buoi = ''
		IF @Buoi = 1
		BEGIN
			SET @DK_Buoi = N'Sáng'
		END
		
		IF @Buoi = 2
		BEGIN
			SET @DK_Buoi = N'Chiều'
		END

		SET @C = CURSOR FOR
		SELECT MAX(A.GIO_BAT_DAU),MAX(A.GIO_KET_THUC),C.MA_MON_HOC,A.Buoi
		FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
		INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
		WHERE C.MA_GIAO_VIEN=@MA_GIAO_VIEN AND CONVERT(VARCHAR(10),A.NGAY_HOC,110)=@NGAY_HOC AND A.Buoi like @DK_Buoi
		GROUP BY C.MA_MON_HOC,A.Buoi
	END

	OPEN @C
	FETCH NEXT FROM @C INTO @BEGIN,@END,@MaMonHoc,@Buoi
	WHILE @@FETCH_STATUS = 0	
	BEGIN

	IF @BEGIN=0 OR @END=0
	BEGIN
		IF @Buoi like N'%Sáng%'
		BEGIN
			SET @BEGIN = @NGAY_HOC + ' 07:30:00'
			SET @BEGIN = @BEGIN + ((CAST(5*RAND() AS INT)+1)*0.000777)
			SET @END = @NGAY_HOC +' 10:30:00'
			SET @END = @END + ((CAST(5*RAND() AS INT)+1)*0.000777)	
			SET @BEGIN_DEFAULT = @BEGIN
			SET @END_DEFAULT = @END
		END
		ELSE
		BEGIN
			SET @BEGIN = @NGAY_HOC + ' 13:30:00'
			SET @BEGIN = @BEGIN + ((CAST(5*RAND() AS INT)+1)*0.000777)
			SET @END = @NGAY_HOC +' 16:30:00'
			SET @END = @END + ((CAST(5*RAND() AS INT)+1)*0.000777)
			SET @BEGIN_DEFAULT = @BEGIN
			SET @END_DEFAULT = @END
		END
	END

	DECLARE @C1 CURSOR
	DECLARE @C2 CURSOR
	SET @C1 = CURSOR FOR
	SELECT A.ID, B.MA_THANH_VIEN
	FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
	INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
	WHERE CONVERT(VARCHAR(10),A.NGAY_HOC,110)=@NGAY_HOC AND C.MA_GIAO_VIEN=@MA_GIAO_VIEN AND A.TINH_TRANG<>4
	
	OPEN @C1
	FETCH NEXT FROM @C1 INTO @MaChiTietDiemDanh,@MaThanhVien
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Count = 0
		SET @C2 = CURSOR FOR 
		SELECT A.TINH_TRANG
		FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
		INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
		WHERE B.MA_THANH_VIEN=@MaThanhVien AND C.MA_MON_HOC=@MaMonHoc
		
		OPEN @C2
		FETCH NEXT FROM @C2 INTO @TinhTrang
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF(@TinhTrang = 4)
			BEGIN
				SET @Count = @Count+1
			END
			FETCH NEXT FROM @C2 INTO @TinhTrang
		END
		CLOSE @C2
		DEALLOCATE @C2
		IF(@Count>0)		
		BEGIN
			SET @BEGIN = @BEGIN + (2*RAND()*0.000777)
			SET @END = @END + (2*RAND()*0.000777)
			UPDATE CHITIETDIEMDANH SET Tinh_trang=4, Gio_bat_dau=@BEGIN, Gio_ket_thuc=@END,Ngay_cap_nhat_cuoi=@END WHERE ID=@MaChiTietDiemDanh
		END
		ELSE
		BEGIN
			UPDATE CHITIETDIEMDANH SET Tinh_trang=1, Gio_bat_dau=@BEGIN_DEFAULT, Gio_ket_thuc=@END_DEFAULT,Ngay_cap_nhat_cuoi=@END WHERE ID=@MaChiTietDiemDanh
		END
		FETCH NEXT FROM @C1 INTO @MaChiTietDiemDanh,@MaThanhVien
	END

	CLOSE @C1
	DEALLOCATE @C1
	
	END
	
	CLOSE @C
	DEALLOCATE @C

	SELECT A.NGAY_HOC, B.MA_THANH_VIEN,A.GIO_BAT_DAU,A.GIO_KET_THUC,A.TINH_TRANG
	FROM CHITIETDIEMDANH A INNER JOIN THANHVIENDIEMDANH B ON A.MA_TVDD=B.ID
	INNER JOIN DIEMDANH C ON B.MA_DIEM_DANH=C.ID
	WHERE CONVERT(VARCHAR(10),A.NGAY_HOC,110)=@NGAY_HOC AND C.MA_GIAO_VIEN=@MA_GIAO_VIEN
END