IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE NAME='sp_ISO_UpdateCoHieuOfChiTietKHGD')
BEGIN
	DROP PROC sp_ISO_UpdateCoHieuOfChiTietKHGD
END
GO
CREATE PROC sp_ISO_UpdateCoHieuOfChiTietKHGD  
 @ID INT,  
 @CO_HIEU INT,  
 @KQ INT OUTPUT  
AS  
BEGIN  
 SET @KQ = -1  
 IF EXISTS (SELECT * FROM CHITIETKHGD WHERE ID=@ID)  
 BEGIN  
  UPDATE CHITIETKHGD SET CO_HIEU=@CO_HIEU WHERE ID=@ID  
  SET @KQ = @ID  
 END  
END  