/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	29/05/2011
	Mục Đích	:	show Đề Nghị
	
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_SelectAllDonXinThoiViec')
BEGIN
	DROP PROC sp_NhanSu_SelectAllDonXinThoiViec
END
GO
CREATE PROC sp_NhanSu_SelectAllDonXinThoiViec
	@Tinh_trang			VARCHAR(5)
AS  
BEGIN
	IF(@Tinh_trang = '')
	BEGIN
		SELECT A.*,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_DMY, (B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN, D.TEN AS TEN_BO_PHAN, D.ID AS MA_BO_PHAN,E.ID AS MA_VAI_TRO, E.TEN_VAI_TRO AS TEN_VAI_TRO
		FROM DONXINTHOIVIEC A INNER JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID 
		INNER JOIN THANHVIEN C ON B.TEN_DANG_NHAP=C.TEN_DN
		INNER JOIN KHOA_TRUNGTAM D ON C.MA_BO_PHAN=D.ID
		INNER JOIN VAITRO E ON C.MA_VAI_TRO=E.ID
		ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
	END
	IF(@Tinh_trang <> '')
	BEGIN
		SELECT A.*, (B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN, D.TEN AS TEN_BO_PHAN, D.ID AS MA_BO_PHAN,E.ID AS MA_VAI_TRO, E.TEN_VAI_TRO AS TEN_VAI_TRO
		FROM DONXINTHOIVIEC A INNER JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID 
		INNER JOIN THANHVIEN C ON B.TEN_DANG_NHAP=C.TEN_DN
		INNER JOIN KHOA_TRUNGTAM D ON C.MA_BO_PHAN=D.ID
		INNER JOIN VAITRO E ON C.MA_VAI_TRO=E.ID
		WHERE A.Tinh_trang=@Tinh_trang 
		ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
	END
END
GO
/*
	sp_NhanSu_SelectAllDeNghiKTV '6','20','0'
*/