/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	18/06/2011
	Mục Đích	:	show Hợp Đồng
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_SelectAllHopDongLaoDong')
BEGIN
	DROP PROC sp_NhanSu_SelectAllHopDongLaoDong
END
GO
CREATE PROC sp_NhanSu_SelectAllHopDongLaoDong
	@Ma_bo_phan			VARCHAR(5),
	@Ma_thanh_vien		VARCHAR(5),
	@Tinh_trang			VARCHAR(5)
AS  
BEGIN
	IF(@Ma_bo_phan = '0')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='1'
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM( 
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='1') AS TB3 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
	IF(@Ma_bo_phan = '16' OR @Ma_bo_phan = '2')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang=@Tinh_trang
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
	END
	IF(@Ma_bo_phan <> '0' AND @Ma_bo_phan <> '16' AND @Ma_bo_phan <> '2')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='1' AND A.Nguoi_du_tuyen = (SELECT B.ID FROM THANHVIEN A INNER JOIN HOSODUTUYEN B ON A.TEN_DN=B.TEN_DANG_NHAP WHERE A.ID=@Ma_thanh_vien)
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM( 
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLaoDong A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.Nguoi_lap=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='1' AND A.Nguoi_du_tuyen = (SELECT B.ID FROM THANHVIEN A INNER JOIN HOSODUTUYEN B ON A.TEN_DN=B.TEN_DANG_NHAP WHERE A.ID=@Ma_thanh_vien)) AS TB3 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
END
GO
/*
	sp_NhanSu_SelectAllHopDongLaoDong '2','',''
	SELECT * FROM KHOA_TRUNGTAM
*/