.ebul_cbmenu, .ebul_cbmenu ul {
  background-color: #ECEEF4;
  background-position : left;
  border: 1px solid #99B1D7;
  display: block;
  font-size: 1px;
  text-align : left;
  margin: 0px;
  overflow: auto;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.ebul_cbmenu_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_cbmenu table {
  border-collapse: separate;
  width: 17%;
}

.ebul_cbmenu tr {
  background-color: #ECEEF4;
  cursor: pointer;
  font-size: 1px;
}

.ebul_cbmenu td {
  border: 1px solid #ECEEF4;
  padding: 3px;
  text-align: left;
}

.ebul_cbmenu td a {
  color: #000000;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_cbmenu tr.hot, .ebul_cbmenu tr.expanded {
  background-color: #CCDAEC;
}

.ebul_cbmenu tr.hot td, .ebul_cbmenu tr.expanded td {
  border-color: #99B1D7;
}
.ebul_cbmenu tr.hot a, .ebul_cbmenu tr.expanded a {
  color: #000000;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ul.ebul_cbmenu {
  position: absolute;
  visibility: hidden;
}                               

.cbmenuebul_menulist .spaced_li {
  padding: 0px 1px 0px 0px;
}

.cbmenuebul_menulist li {
  list-style-type: none;
  float: left;
}

.cbmenuebul_menulist img {
  vertical-align: bottom;
  
}

.cbmenuebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
