INSERT INTO HANHDONG(Ten_hanh_dong,Ngay_cap_nhat_cuoi) VALUES (N'Mượn',GETDATE())
INSERT INTO HANHDONG(Ten_hanh_dong,Ngay_cap_nhat_cuoi) VALUES (N'Trả',GETDATE())
INSERT INTO HANHDONG(Ten_hanh_dong,Ngay_cap_nhat_cuoi) VALUES (N'Bảo Trì',GETDATE())

INSERT INTO LOAITHIETBI(Ten_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES (N'PC',GETDATE())
INSERT INTO LOAITHIETBI(Ten_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES (N'LAPTOP',GETDATE())
INSERT INTO LOAITHIETBI(Ten_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES (N'PROJECTER',GETDATE())

INSERT INTO NHACUNGCAP(Ten_nha_cung_cap,Ngay_cap_nhat_cuoi) VALUES (N'Nhà Cung Cấp 1',GETDATE())
INSERT INTO NHACUNGCAP(Ten_nha_cung_cap,Ngay_cap_nhat_cuoi) VALUES (N'Nhà Cung Cấp 2',GETDATE())
INSERT INTO NHACUNGCAP(Ten_nha_cung_cap,Ngay_cap_nhat_cuoi) VALUES (N'Nhà Cung Cấp 3',GETDATE())


INSERT INTO TINHTRANG(Ten_tinh_trang,Ngay_cap_nhat_cuoi) VALUES (N'Tốt',GETDATE())
INSERT INTO TINHTRANG(Ten_tinh_trang,Ngay_cap_nhat_cuoi) VALUES (N'Hỏng',GETDATE())
INSERT INTO TINHTRANG(Ten_tinh_trang,Ngay_cap_nhat_cuoi) VALUES (N'Bảo Trì',GETDATE())


INSERT INTO HIENTRANG(Ten_hien_trang,Ngay_cap_nhat_cuoi) VALUES(N'Rãnh',GETDATE())
INSERT INTO HIENTRANG(Ten_hien_trang,Ngay_cap_nhat_cuoi) VALUES(N'Bận',GETDATE())

INSERT INTO THIETBI(Ten_thiet_bi,Ma,Ki_hieu,Vi_tri_lap_dat,Muc_dich_su_dung,Dac_tinh_ky_thuat,Nguyen_tac_su_dung,Ho_so_tai_lieu_ban_ve,Ghi_chu,
Tinh_trang,Hien_trang,Gia_tri_su_dung,Ma_nha_cung_cap,Ma_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES
('PC1','','','4','','','','','','0','0','0','0','0',GETDATE())
INSERT INTO THIETBI(Ten_thiet_bi,Ma,Ki_hieu,Vi_tri_lap_dat,Muc_dich_su_dung,Dac_tinh_ky_thuat,Nguyen_tac_su_dung,Ho_so_tai_lieu_ban_ve,Ghi_chu,
Tinh_trang,Hien_trang,Gia_tri_su_dung,Ma_nha_cung_cap,Ma_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES
('PC2','','','4','','','','','','0','0','0','0','0',GETDATE())
INSERT INTO THIETBI(Ten_thiet_bi,Ma,Ki_hieu,Vi_tri_lap_dat,Muc_dich_su_dung,Dac_tinh_ky_thuat,Nguyen_tac_su_dung,Ho_so_tai_lieu_ban_ve,Ghi_chu,
Tinh_trang,Hien_trang,Gia_tri_su_dung,Ma_nha_cung_cap,Ma_loai_thiet_bi,Ngay_cap_nhat_cuoi) VALUES
('PC3','','','4','','','','','','0','0','0','0','0',GETDATE())



DECLARE @C1 CURSOR 
DECLARE @Ma_thiet_bi INT 
SET @C1 = CURSOR FOR SELECT ID FROM THIETBI
OPEN @C1
FETCH NEXT FROM @C1 INTO @Ma_thiet_bi
WHILE @@FETCH_STATUS = 0
BEGIN
	INSERT INTO LYLICHTHIETBI(Ma_thiet_bi,Bo_phan_nhan) VALUES(@Ma_thiet_bi,'6')
	FETCH NEXT FROM @C1 INTO @Ma_thiet_bi
END
CLOSE @C1
DEALLOCATE @C1



