<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ************** log4net ****************** -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="SMS.Properties.Settings.GSMConnectionString" connectionString="Data Source=ISO1;Initial Catalog=GSM;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SMS.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!-- ************** End of log4net ****************** -->
  
  <appSettings>
    <!-- ***************** Parameters ******************* -->


    <add key="ConnectionString" value="server=ISO1;database=GSM;uid=sa;pwd=123456" />


    
      <!-- cho nay cac ban sua lai cho dung noi luu project -->
      <add key="RootFolder" value="C:\SVN data\hungvuongsystem\Development\Source\SMS" />
    <!-- ***************** End of Parameters ******************* -->

    <!-- ***************** SQL Statement ******************* -->
    
	  <!--********************Login*************************-->
    <add key="sql.getAdminByUserNameAndPassword" 
         value="	SELECT A.ten_dn AS 'TenDangNhap',A.mat_khau AS 'MatKhau'
	                FROM	thanhvien AS A
			                  INNER JOIN vaitro AS B
			                  ON A.ma_vai_tro = B.id
	                WHERE	A.ten_dn = @userName
			                  AND A.mat_khau = @password
			                  AND B.id = 0 " />
	  
	 <!--************************88 cu phap *********************************--> 
    <add key="sql.getAllDRVCuPhap" value="select ID as 'ID', Ten as 'Name', Cum_tu_1 as 'Keyword 1',Cum_tu_2 as 'Keyword 2'
		 ,Cum_tu_3 as 'Keyword 3',Cum_tu_4 as 'Keyword 4',Cum_tu_5 as 'Keyword 5',Cum_tu_6 as 'Keyword 6'
		 ,Cum_tu_7 as 'Keyword 7',Cum_tu_8 as 'Keyword 8',Cum_tu_9 as 'Keyword 9',Cum_tu_10 as 'Keyword 10'
		 ,Ghi_chu as 'Note' from CuPhap " ></add>
	
	  <add key="sql.getAllTenCuPhap" value="select Ten from CuPhap group by Ten "></add>
	  
	  <add key="sql.getAllKeyword1CuPhap" value="select Ten,Cum_tu_1 from CuPhap where Ten=@ten group by Ten, Cum_tu_1 "></add>
	  
	  <add key="sql.DeleteCuPhapByID" value="Delete from CuPhap where ID=@ID " ></add>
	  
	  <add key="sql.getCuPhapByID" value="select ID, Ten, Cum_tu_1,Cum_tu_2,Cum_tu_3,Cum_tu_4,Cum_tu_5
		   ,Cum_tu_6,Cum_tu_7,Cum_tu_8,Cum_tu_9,Cum_tu_10,
		   Ghi_chu from CuPhap where ID=@id " ></add>
    
    <!--**********************TaiKhoanSMS******************-->
	  <add key="sql.getAllDRVTaiKhoanSMS" value="select TK.ID,So_dien_thoai as 'Number phone',Ma_sinh_vien as'StudentID',
		   CTV.Ho +' '+ CTV.Ten_lot + ' ' + CTV.Ten as [Full Name],Ngay_Sinh as'Brithday',LTK.Ten,Ngay_dang_ky as 'Registrantion Date',Ghi_chu as'Note'
			from ((TaiKhoanSMS TK inner join LoaiTaiKhoanSMS LTK on TK.Loai_tai_khoan=LTK.ID)
			inner join ThanhVien TV on TK.Ma_sinh_vien=TV.ID)
			inner join ChiTietThanhVien CTV on TV.Ten_DN=CTV.Ten_dang_nhap" />
	  
	  <add key="sql.getTaiKhoanSMSByID" value="select * from TaiKhoanSMS where ID=@Ma_tai_khoan_SMS"/>
	  
	  <add key="sql.getTaiKhoanSMSByID_MaTaiKhoanSMS" value="select * from TaiKhoanSMS where Ma_tai_khoan_SMS=@Ma_tai_khoan_SMS"/>
	  
	  <add key="sql.getTaiKhoanSMSBySDT_MSV" value="select * from TaiKhoanSMS where So_dien_thoai=@so_Dien_Thoai and Ma_sinh_vien=@ma_SV"/>

	  
	  <!--**********************LoaiTaiKhoanSMS******************-->
	  <add key="sql.getLoaiTaiKhoanSMSByID" value="select * from LoaiTaiKhoanSMS where ID=@id"/>
	  <add key="sql.getAllLoaiTaiKhoanSMS" value="select * from LoaiTaiKhoanSMS"/>
	  

	  <!--**********************ChiTietTaiKhoanSMS******************-->
	  <add key="sql.getAllChiTietTaiKhoanSms" value="select ID, Ma_tai_khoan_SMS as 'Account ID' ,Dang_ky_thang as 'Registration month',Dang_ky_nam as 'Registration year' from ChiTietTaiKhoanSMS where Ma_tai_khoan_SMS=@id"/>
	  <add key="sql.getChiTietTaiKhoanSMSByID" value="select * from ChiTietTaiKhoanSMS where ID=@id"/>

    <add key ="sql.getMaxId" value="select max(id) as 'id' from hopthudi"/>
    
    
    <!-- ***************** End of SQL Statement ******************* -->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>