-- Table Vai Tro 
Go
INSERT INTO VaiTro VALUES(N'Admin',GETDATE(),'','','','','')
INSERT INTO VaiTro VALUES(N'Hiệu Trưởng',GETDATE(),'','','','','')
INSERT INTO VaiTro VALUES(N'Hiệu Phó',GETDATE(),'','','','','')
--SELECT * FROM VaiTro

--Table LopHoc
GO
INSERT INTO LopHoc VALUES (null,'10SCM','','','','','','','')
INSERT INTO LopHoc VALUES (null,'10HTHD','','','','','','','')
INSERT INTO LopHoc VALUES (null,'10KTHN','','','','','','','')
--SELECT * FROM LopHoc

--Table HinhThuc
GO
INSERT INTO HinhThuc VALUES ('Tai Lop',GETDATE(),'','','','','')
INSERT INTO HinhThuc VALUES ('Tu Luan',GETDATE(),'','','','','')
INSERT INTO HinhThuc VALUES ('Trac Nghiem',GETDATE(),'','','','','')

--Table TenBiaKiemTra
GO
INSERT INTO TenBaiKiemTra VALUES ('Mieng',GETDATE(),'','','','','')
INSERT INTO TenBaiKiemTra VALUES ('15 Phut',GETDATE(),'','','','','')
INSERT INTO TenBaiKiemTra VALUES ('1 Tiet',GETDATE(),'','','','','')

-- Table ChiTietThanhVien
Go
INSERT INTO ChiTietThanhVien VALUES('ThienVD',N'Võ',N'Đức',N'Thiện',getdate(),null,'ducthienkhtn@gmail.com','',null,getdate(),getdate(),null,1,null,null,'','','','','','')
INSERT INTO ChiTietThanhVien VALUES('hai_tv',N'Trần',N'Văn',N'Hải',getdate(),null,'hai_tv@hungvuongtech.edu.vn','',null,getdate(),getdate(),null,1,null,null,'','','','','','')
INSERT INTO ChiTietThanhVien VALUES('hanh_nn',N'Nguyễn',N'Ngọc',N'Hạnh',getdate(),null,'hanh_nn@hungvuongtech.edu.vn','',null,getdate(),getdate(),null,1,null,null,'','','','','','')

-- Danh sach giao vien 


-- Danh sach hoc sinh 10KTHL


-- Danh sach hoc sinh 10SCM


--SELECT * FROM ChiTietThanhVien
-- Table THANHVIEN
--ID 0-->15
Go 
INSERT INTO ThanhVien VALUES('ThienVD','ThienVD',0,GETDATE(),GETDATE(),GETDATE(),16,'','','','','')
INSERT INTO ThanhVien VALUES('hai_tv','hai_tv',1,GETDATE(),GETDATE(),GETDATE(),0,'','','','','')
INSERT INTO ThanhVien VALUES('hanh_nn','hanh_nn',2,GETDATE(),GETDATE(),GETDATE(),0,'','','','','')

-- Danh sach giao vien ID 16-->37


-- Danh sach hoc sinh LT_10KTH ID 38-->50


-- Danh sach hoc sinh 10SCM ID 51-->64


--SELECT * FROM ThanhVien

-- Table CU PHAP
Go
INSERT INTO CuPhap VALUES(N'Tra cứu điểm theo Mã sinh viên => Điểm tất cả các môn trong học kì hiện tại','HVA','DIEM','','','','','','','','',N'[x] : Mã số sinh viên',GETDATE(),'','','','','')
INSERT INTO CuPhap VALUES(N'Tra cứu điểm theo Mã Sinh Viên và Tên Môn Học => Điểm môn học đó của Sinh Viên','HVA','DIEM','','','','','','','','',N'[x] : Mã số sinh viên/[y] : Tên môn học (vd: Java,php,sql,....)',GETDATE(),'','','','','')
INSERT INTO CuPhap VALUES(N'Tra cứu điểm theo Mã sinh viên và Năm Học => Điểm tất cả các môn học trong năm học nhập vào','HVA','DIEM','','','','','','','','',N'[x] : Mã số sinh viên/[y] :  Năm học (VD: 2010,2011)',GETDATE(),'','','','','')

--select * from cuphap

-- Table LOAI HOP THU
Go
INSERT INTO LoaiHopThu VALUES('Hop Thu Cu Phap','Luu nhung tin nhan theo cu phap',GETDATE(),'','','','','')
INSERT INTO LoaiHopThu VALUES('Hop Thu Cu Phap Da Xoa','Luu nhung tin nhan nhap',GETDATE(),'','','','','')
INSERT INTO LoaiHopThu VALUES('Hop Thu Binh Thuong','Luu nhung tin nhan thu cong khong theo cu phap',GETDATE(),'','','','','')

--Conlum tinhtrang table hop thu di, 1 la da gui , 0 la chua gui thanh cong

-- Table HOP THU DI
Go
INSERT INTO HopThuDi VALUES('0975587553','test data',1,6,GETDATE(),GETDATE(),'','','','','')
INSERT INTO HopThuDi VALUES('0911111111','test data',1,4,GETDATE(),GETDATE(),'','','','','')
INSERT INTO HopThuDi VALUES('0922222222','test data',0,6,GETDATE(),GETDATE(),'','','','','')



--SELECT * FROM HopThuDi

--conlumn tinh trang Table HopThuDen , 1 da tra loi , 2 chua tra loi

--Table HOP THU DEN 
Go
INSERT INTO HopThuDen VALUES('0975587553',null,'test hop thu den',1,2,0,GETDATE(),GETDATE(),'','','','','')
INSERT INTO HopThuDen VALUES('0911111111',0,'test hop thu den',0,0,1,GETDATE(),GETDATE(),'','','','','')
INSERT INTO HopThuDen VALUES('0922222222',null,'test hop thu den',1,2,2,GETDATE(),GETDATE(),'','','','','')



--Table Phong Ban
Go
INSERT INTO PhongBan VALUES('F2.1','','TH',50,GETDATE(),'','','','','')
INSERT INTO PhongBan VALUES('F2.2','','LT',40,GETDATE(),'','','','','')
INSERT INTO PhongBan VALUES('F2.3','','LT',30,GETDATE(),'','','','','')

-- Table MonHoc
Go

INSERT INTO MonHoc VALUES(N'Web Java', 40,45 ,'' ,'Thi',null,null,'',0,6,'30','','','','','')
INSERT INTO MonHoc VALUES(N'EJB', 50,55 ,'' ,'Thi',null,null,'',0,6,'30','','','','','')
INSERT INTO MonHoc VALUES(N'Web PHP', 35,30 ,'' ,'Thi',null,null,'',0,6,'30','','','','','')


--Table ThoiKhoaBieu
GO
INSERT INTO ThoiKhoaBieu VALUES(3,6,26,'2010-08-15','2011-03-15',null,GETDATE(),null,'',GETDATE(),'Học Kỳ 1 (2010 - 2011) - 10KTHD',2,'','1','2010','2011','','','','','','')
INSERT INTO ThoiKhoaBieu VALUES(3,26,52,'2011-03-16','2011-08-15',null,GETDATE(),null,'',GETDATE(),'Học Kỳ 2 (2010 - 2011) - 10KTHD',2,'','2','2010','2011','','','','','','')

INSERT INTO ThoiKhoaBieu VALUES(0,6,26,'2010-08-15','2011-03-15',null,GETDATE(),null,'',GETDATE(),'Học Kỳ 1 (2010 - 2011) - 10SCM',2,'','1','2010','2011','','','','','','')

--SELECT * FROM ThoiKhoaBieu
--SELECT * FROM MonHocTKB

--Table MonHocTKB
GO
INSERT INTO MonHocTKB VALUES (2,1,0,0,16,'2010-08-15','2010-08-15',GETDATE(),GETDATE(),'',GETDATE(),'','','','','','','','','','','')
INSERT INTO MonHocTKB VALUES (2,1,0,1,17,'2010-09-15','2010-09-15',GETDATE(),GETDATE(),'',GETDATE(),'','','','','','','','','','','')
INSERT INTO MonHocTKB VALUES (2,1,0,2,18,'2010-10-15','2010-10-15',GETDATE(),GETDATE(),'',GETDATE(),'','','','','','','','','','','')




--SELECT * FROM MonHocTKB

--Table ChiTietTKB
GO
INSERT INTO ChiTietTKB VALUES (0,1,'Sang','THP',1,0,GETDATE(),1,0,6,GETDATE(),1,5,'','','','','','','')
INSERT INTO ChiTietTKB VALUES (0,3,'Sang','THP',1,0,GETDATE(),2,0,6,GETDATE(),1,5,'','','','','','','')
INSERT INTO ChiTietTKB VALUES (0,4,'Sang','THP',1,0,GETDATE(),3,0,6,GETDATE(),1,5,'','','','','','','')





---------






------------------------------






-----------------------







--SELECT * FROM ChiTietTKB
--SELECT * FROM BaiKiemTra
--Table BaiKiemTra
GO
INSERT INTO BaiKiemTra VALUES (0,0,0,10,'',GETDATE(),'','','','','')
INSERT INTO BaiKiemTra VALUES (0,1,1,10,'',GETDATE(),'','','','','')
INSERT INTO BaiKiemTra VALUES (0,2,1,10,'',GETDATE(),'','','','','')

































--Table DangKiMonHoc
GO
--select * from DangKyMonHoc

--0-12
INSERT INTO DangKyMonHoc VALUES (0,38,'','','','','',GETDATE(),'','','','','')
INSERT INTO DangKyMonHoc VALUES (0,39,'','','','','',GETDATE(),'','','','','')
INSERT INTO DangKyMonHoc VALUES (0,40,'','','','','',GETDATE(),'','','','','')
--13-25
--26-38
--39-51
--52-64

------------
--65-77
--78-90
--91-103
--104-116
--117-129

---------------------------
--130-143
--144-157
--158-171
--172-185
--186-199

--------------------
--200-213
--214-227
--228-241
--242-255
--256-269

--select * from baikiemtra
--select * from chitietdiem
--select * from DangKyMonHoc
--select * from MonHocTKB
--select * from chitietdiem

--Table ChiTietDiem
GO
INSERT INTO ChiTietDiem VALUES (0,0,8,'',GETDATE(),'','','','','')
INSERT INTO ChiTietDiem VALUES (0,1,5,'',GETDATE(),'','','','','')
INSERT INTO ChiTietDiem VALUES (0,2,7,'',GETDATE(),'','','','','')













---------------------














-----------------














---------------------














--------------------------














--------------------------














----------------------------














-----------------------------














----------------------------














--------------------------














------------------------------------















----------------------------















-------------------------















--------------------------















-----------------------------















---------------------------















----------------------------















----------------------------------















--------------------------















--------------------------------















--select * from DangKyMonHoc
--Table LOAI TAI KHOAN SMS
Go
Go
INSERT INTO LoaiTaiKhoanSMS VALUES('DK_1_Ngay',120000,'Dang ky theo ngay',GETDATE(),'','','','','')
INSERT INTO LoaiTaiKhoanSMS VALUES('DK_3_Ngay',50000,'Dang ky theo tuan',GETDATE(),'','','','','')
INSERT INTO LoaiTaiKhoanSMS VALUES('DK_1_Tuan',35000,'Dang ky theo thang',GETDATE(),'','','','','')

--Table Tai khoan SMS
Insert into TaiKhoanSMS Values('0934070400',0,1,GetDate(),GetDate(),'','','','','')
Insert into TaiKhoanSMS Values('0936080548',2,3,GetDate(),GetDate(),'','','','','')
Insert into TaiKhoanSMS Values('0984385645',4,2,GetDate(),GetDate(),'','','','','')

--select* from ThanhVien

----------Table Chi Tiet Tai Khoan SMS
INSERT INTO ChiTietTaiKhoanSMS values(1,6,2011,GetDate(),'','','','','')
INSERT INTO ChiTietTaiKhoanSMS values(2,7,2011,GetDate(),'','','','','')
INSERT INTO ChiTietTaiKhoanSMS values(3,4,2011,GetDate(),'','','','','')
