/*
	Người Viết	:	Trần Cẩm Thành
	Ngày Viết	:	18/06/2011
	Mục Đích	:	show Hợp Đồng
*/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE NAME='sp_NhanSu_SelectAllHopDongLanDau')
BEGIN
	DROP PROC sp_NhanSu_SelectAllHopDongLanDau
END
GO
CREATE PROC sp_NhanSu_SelectAllHopDongLanDau
	@Ma_bo_phan			VARCHAR(5),
	@Ma_truong_khoa		VARCHAR(5),
	@Tinh_trang			VARCHAR(5)
AS  
BEGIN
	IF(@Ma_bo_phan = '1')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='2'
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM(
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='2') AS TB1 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
	IF(@Ma_bo_phan = '2')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='3'
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM( 
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='3') AS TB2 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
	IF(@Ma_bo_phan = '0')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='4'
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			SELECT * FROM( 
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			WHERE A.Tinh_trang>='4') AS TB3 WHERE Tinh_trang=@Tinh_trang ORDER BY NGAY_CAP_NHAT_CUOI DESC
		END
	END
	IF(@Ma_bo_phan = '16')
	BEGIN
		IF(@Tinh_trang = '')
		BEGIN
			SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Tinh_trang <> '')
		BEGIN
			IF(@Tinh_trang = '1')
			BEGIN
				SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
				FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
				WHERE A.Tinh_trang='2' OR A.Tinh_trang='3' OR A.Tinh_trang='4'
				ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
			END
			ELSE 
			BEGIN
				SELECT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
				FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP
				WHERE A.Tinh_trang=@Tinh_trang
				ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
			END
		END
	END
	IF(@Ma_bo_phan <> '0' AND @Ma_bo_phan <> '1' AND @Ma_bo_phan <> '2' AND @Ma_bo_phan <> '16')
	BEGIN
		IF(@Ma_truong_khoa <> '' AND @Tinh_trang = '')
		BEGIN
			SELECT DISTINCT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP LEFT JOIN KHOA_TRUNGTAM E ON A.TRUONG_KHOA=E.MA_TRUONG_KHOA
			WHERE A.TRUONG_KHOA=@Ma_truong_khoa OR E.ID=@Ma_bo_phan
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
		IF(@Ma_truong_khoa <> '' AND @Tinh_trang <> '')
		BEGIN
			SELECT DISTINCT A.*,(B.HO+' '+B.TEN_LOT+' '+B.TEN) AS TEN_NGUOI_DU_TUYEN,(D.HO+' '+D.TEN_LOT+' '+D.TEN) AS TEN_NGUOI_LAP,CONVERT(VARCHAR(10),A.NGAY_LAP,105) AS NGAY_LAP_MDY,B.VI_TRI_DU_TUYEN AS VI_TRI_DU_TUYEN
			FROM HopDongLanDau A LEFT JOIN HOSODUTUYEN B ON A.NGUOI_DU_TUYEN=B.ID LEFT JOIN THANHVIEN C ON A.TRUONG_KHOA=C.ID LEFT JOIN CHITIETTHANHVIEN D ON C.TEN_DN=D.TEN_DANG_NHAP LEFT JOIN KHOA_TRUNGTAM E ON A.TRUONG_KHOA=E.MA_TRUONG_KHOA
			WHERE A.TRUONG_KHOA=@Ma_truong_khoa AND A.Tinh_trang=@Tinh_trang OR E.ID=@Ma_bo_phan AND A.Tinh_trang=@Tinh_trang
			ORDER BY A.NGAY_CAP_NHAT_CUOI DESC
		END
	END
END
GO
/*
	sp_SelectAllHopDongLanDau '','',''
*/