
--	SELECT * FROM sys_App
INSERT INTO sys_App VALUES(N'Quản Lý Nhân Sự','/HungVuongISO/NhanSu/Intro.jsp','images/icon/quanlynhansu.png',getdate(),'','','','','')

--	SELECT * FROM sys_Role_App
--	SELECT * FROM VaiTro
INSERT INTO sys_Role_App VALUES('0','6','','','','','')
INSERT INTO sys_Role_App VALUES('1','6','','','','','')
INSERT INTO sys_Role_App VALUES('2','6','','','','','')

--	SELECT * FROM sys_Menu
--36
INSERT INTO sys_Menu VALUES('6',N'Home','images/icon_menu/home.png','/HungVuongISO/home.jsp','','','','','')
--37
INSERT INTO sys_Menu VALUES('6',N'Tìm Kiếm Nhân Sự','images/icon_menu/timkiemnhansu.png','/HungVuongISO/NhanSu/Intro.jsp','','','','','')
--38
INSERT INTO sys_Menu VALUES('6',N'Đề Nghị Tuyển Nhân Sự','images/icon_menu/denghinhansu.png','/HungVuongISO/NhanSu/DeNghiTuyenNhanSu/showDeNghiTuyenNhanSu.jsp','','','','','')
--39
--40
--41
--42
--43
--44
--	SELECT * FROM sys_Role_Menu
--	SELECT * FROM KHOA_TRUNGTAM
-- 16	Admin
INSERT INTO sys_Role_Menu VALUES('16','36','','','','','')
INSERT INTO sys_Role_Menu VALUES('16','37','','','','','')
INSERT INTO sys_Role_Menu VALUES('16','38','','','','','')

-- 0	Ban Giam Hieu

-- 1	Dao tao -- xem

-- 2	Phong Hanh Chanh 

-- 3    Phòng Công Tác Học Sinh Sinh Viên 

-- 4	Phòng đảm bảo chất lượng

-- 5    Phòng Tổ Chức Hành Chánh Quản Trị

-- 6	Công nghệ thông tin

-- 7	Dien tu

-- 8	Ky That lanh

-- 9	Co khi dong luc

-- 10	co khi chinh xac

-- 11	lai xe

-- 12	TT Aptech

-- 13	Trung tam co dien tu

-- 14	TT Cat May

-- 15	ke toan

--------
INSERT INTO VaiTro VALUES(N'Người dự tuyển',getdate(),'','','','','')
